In [2]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
data = pd.read_csv(r'D:\Canvas\SDM\Project\CollegeScorecard_Raw_Data_08032021\MERGED2019_20_PP.csv', low_memory=False)

In [5]:
data.head()

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,NPCURL,...,FEDSCHCD,BOOKSUPPLY,ROOMBOARD_ON,OTHEREXPENSE_ON,ROOMBOARD_OFF,OTHEREXPENSE_OFF,OTHEREXPENSE_FAM,ENDOWBEGIN,ENDOWEND,DOLPROVIDER
0,100654,100200,1002,Alabama A & M University,Normal,AL,35762,Southern Association of Colleges and Schools C...,www.aamu.edu/,www.aamu.edu/admissions-aid/tuition-fees/net-p...,...,001002,1600.0,9240.0,3090.0,9240.0,3090.0,3090.0,NaN,NaN,0
1,100663,105200,1052,University of Alabama at Birmingham,Birmingham,AL,35294-0110,Southern Association of Colleges and Schools C...,https://www.uab.edu/,https://uab.studentaidcalculator.com/survey.aspx,...,001052,1200.0,12307.0,5555.0,12307.0,5555.0,5555.0,524675419.0,537349307.0,0
2,100690,2503400,25034,Amridge University,Montgomery,AL,36117-3553,Southern Association of Colleges and Schools C...,www.amridgeuniversity.edu/,www2.amridgeuniversity.edu:9091/,...,016885,900.0,NaN,NaN,9600.0,1600.0,1600.0,174804.0,174805.0,0
3,100706,105500,1055,University of Alabama in Huntsville,Huntsville,AL,35899,Southern Association of Colleges and Schools C...,www.uah.edu/,finaid.uah.edu/,...,001055,2120.0,10400.0,3994.0,10400.0,3994.0,3994.0,79465021.0,77250279.0,1
4,100724,100500,1005,Alabama State University,Montgomery,AL,36104-0271,Southern Association of Colleges and Schools C...,www.alasu.edu/,www.alasu.edu/cost-aid/tuition-costs/net-price...,...,001005,1600.0,6050.0,3392.0,7320.0,4228.0,4228.0,99638681.0,94536751.0,0

In [5]:
data['ACCREDAGENCY'].value_counts()[:10]

Higher Learning Commission                                                               1178
National Accrediting Commission of Career Arts and Sciences                               965
Southern Association of Colleges and Schools Commission on Colleges                       866
Middle States Commission on Higher Education                                              676
Accrediting Commission of Career Schools and Colleges                                     537
Council on Occupational Education                                                         527
Accrediting Bureau of Health Education Schools                                            232
New England Commission on Higher Education                                                222
Western Association of Schools and Colleges Senior Colleges and University Commission     221
Northwest Commission on Colleges and Universities                                         172
Name: ACCREDAGENCY, dtype: int64

In [6]:
data['REGION'].value_counts()

5    1679
2    1104
3     972
8     943
6     704
4     526
1     354
7     251
9     154
0       7
Name: REGION, dtype: int64

In [6]:
MERGED2019_20_F = pd.read_excel(r'D:\Canvas\SDM\Project\CollegeScorecard_Raw_Data_08032021\University_records_filtered.xlsx')
MERGED2019_20_F

,INSTNM,ACCREDCODE,ACCREDAGENCY,HCM2,NUMBRANCH,PREDDEG,CONTROL,REGION,CCUGPROF,PBI,...,PCTFLOAN,ICLEVEL,UGDS_MEN,UGDS_WOMEN,CDR3_DENOM,D_PCTPELL_PCTFLOAN,GRADS,ENDOWBEGIN,ENDOWEND,DOLPROVIDER
0,Gadsden State Community College,SACSCC,Southern Association of Colleges and Schools C...,0,1,2,1,5,2.0,0.0,...,0.0000,2,0.3758,0.6242,NaN,4736.0,NaN,3404746.0,3413448.0,1
1,George C Wallace Community College-Dothan,SACSCC,Southern Association of Colleges and Schools C...,0,1,1,1,5,2.0,0.0,...,0.0000,2,0.3165,0.6835,NaN,4611.0,NaN,135099.0,160344.0,1
2,George C Wallace State Community College-Selma,SACSCC,Southern Association of Colleges and Schools C...,0,1,2,1,5,2.0,1.0,...,0.0000,2,0.3588,0.6412,NaN,1476.0,NaN,NaN,NaN,1
3,J. F. Drake State Community and Technical College,SACSCC,Southern Association of Colleges and Schools C...,0,1,1,1,5,2.0,0.0,...,0.0000,2,0.4499,0.5501,NaN,831.0,NaN,NaN,NaN,1
4,J F Ingram State Technical College,COE,Council on Occupational Education,0,1,1,1,5,-2.0,0.0,...,0.0000,2,0.7485,0.2515,NaN,432.0,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6689,Livingstone College,SACSCC,Southern Association of Colleges and Schools C...,0,1,3,2,5,10.0,0.0,...,0.9063,1,0.5072,0.4928,592.0,1174.0,NaN,4734310.0,4968451.0,0
6690,Holy Names University,WASCSR,Western Association of Schools and Colleges Se...,0,1,3,2,8,11.0,0.0,...,0.8228,1,0.3593,0.6407,392.0,632.0,297.0,51917540.0,54171145.0,0
6691,Albany State University,SACSCC,Southern Association of Colleges and Schools C...,0,1,2,1,5,7.0,0.0,...,0.6531,1,0.2681,0.7319,3547.0,6001.0,344.0,2342135.0,3208597.0,0
6692,Saint Augustine's University,SACSCC,Southern Association of Colleges and Schools C...,0,1,3,2,5,10.0,0.0,...,0.8380,1,0.5606,0.4394,430.0,778.0,NaN,18384953.0,20555159.0,0
6693,Morgan State University,MSACHE,Middle States Commission on Higher Education,0,1,3,1,2,11.0,0.0,...,0.6778,1,0.4283,0.5717,2093.0,6419.0,1302.0,36393010.0,40530831.0,0

In [10]:
data_f_cols = MERGED2019_20_F.columns

In [11]:
data_18_19 = pd.read_csv(r'D:\Canvas\SDM\Project\CollegeScorecard_Raw_Data_08032021\MERGED2018_19_PP.csv', low_memory=False)
data_18_19.head()

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,NPCURL,...,FEDSCHCD,BOOKSUPPLY,ROOMBOARD_ON,OTHEREXPENSE_ON,ROOMBOARD_OFF,OTHEREXPENSE_OFF,OTHEREXPENSE_FAM,ENDOWBEGIN,ENDOWEND,DOLPROVIDER
0,100654,100200,1002,Alabama A & M University,Normal,AL,35762,NaN,NaN,NaN,...,NaN,1600.0,9128.0,2990.0,9128.0,2990.0,2990.0,NaN,NaN,NaN
1,100663,105200,1052,University of Alabama at Birmingham,Birmingham,AL,35294-0110,NaN,NaN,NaN,...,NaN,1200.0,11682.0,4886.0,11682.0,4886.0,4886.0,495337612.0,524675419.0,NaN
2,100690,2503400,25034,Amridge University,Montgomery,AL,36117-3553,NaN,NaN,NaN,...,NaN,1500.0,NaN,NaN,9600.0,1600.0,1600.0,174805.0,174804.0,NaN
3,100706,105500,1055,University of Alabama in Huntsville,Huntsville,AL,35899,NaN,NaN,NaN,...,NaN,2034.0,10094.0,3808.0,8875.0,3808.0,3808.0,75974640.0,79465021.0,NaN
4,100724,100500,1005,Alabama State University,Montgomery,AL,36104-0271,NaN,NaN,NaN,...,NaN,1600.0,6050.0,3392.0,7320.0,4228.0,4228.0,100905446.0,99638681.0,NaN

In [12]:
data_18_19_f = data_18_19[data_f_cols]
data_18_19_f.shape

(6807, 96)

In [15]:
import os

In [16]:
def filtered_data(link):
    dir = 'D:\Canvas\SDM\Project\CollegeScorecard_Raw_Data_08032021'
    csvFile = os.path.join(dir, link)
    data = pd.read_csv(csvFile, low_memory=False)
    name = data[data_f_cols]
    return name

In [17]:
MERGED2018_19_F = filtered_data('MERGED2018_19_PP.csv')

In [39]:
MERGED2018_19_F.shape

(6807, 96)

In [40]:
MERGED2017_18_F = filtered_data('MERGED2017_18_PP.csv')

In [41]:
MERGED2016_17_F = filtered_data('MERGED2016_17_PP.csv')

In [45]:
MERGED2015_16_F = filtered_data('MERGED2015_16_PP.csv')

In [43]:
MERGED2015_16_F.to_csv('D:\Canvas\SDM\Project\Filtered Data\MERGED2015_16_F.csv')

In [46]:
MERGED2016_17_F.to_csv('D:\Canvas\SDM\Project\Filtered Data\MERGED2016_17_F.csv')

In [48]:
MERGED2017_18_F.to_csv('D:\Canvas\SDM\Project\Filtered Data\MERGED2017_18_F.csv')

In [49]:
MERGED2018_19_F.to_csv('D:\Canvas\SDM\Project\Filtered Data\MERGED2018_19_F.csv')

In [7]:
MERGED2019_20_F.head()

,INSTNM,ACCREDCODE,ACCREDAGENCY,HCM2,NUMBRANCH,PREDDEG,CONTROL,REGION,CCUGPROF,PBI,...,PCTFLOAN,ICLEVEL,UGDS_MEN,UGDS_WOMEN,CDR3_DENOM,D_PCTPELL_PCTFLOAN,GRADS,ENDOWBEGIN,ENDOWEND,DOLPROVIDER
0,Gadsden State Community College,SACSCC,Southern Association of Colleges and Schools C...,0,1,2,1,5,2.0,0.0,...,0.0,2,0.3758,0.6242,NaN,4736.0,NaN,3404746.0,3413448.0,1
1,George C Wallace Community College-Dothan,SACSCC,Southern Association of Colleges and Schools C...,0,1,1,1,5,2.0,0.0,...,0.0,2,0.3165,0.6835,NaN,4611.0,NaN,135099.0,160344.0,1
2,George C Wallace State Community College-Selma,SACSCC,Southern Association of Colleges and Schools C...,0,1,2,1,5,2.0,1.0,...,0.0,2,0.3588,0.6412,NaN,1476.0,NaN,NaN,NaN,1
3,J. F. Drake State Community and Technical College,SACSCC,Southern Association of Colleges and Schools C...,0,1,1,1,5,2.0,0.0,...,0.0,2,0.4499,0.5501,NaN,831.0,NaN,NaN,NaN,1
4,J F Ingram State Technical College,COE,Council on Occupational Education,0,1,1,1,5,-2.0,0.0,...,0.0,2,0.7485,0.2515,NaN,432.0,NaN,NaN,NaN,0

In [18]:
MERGED2018_19_F.head()

,INSTNM,ACCREDCODE,ACCREDAGENCY,HCM2,NUMBRANCH,PREDDEG,CONTROL,REGION,CCUGPROF,PBI,...,PCTFLOAN,ICLEVEL,UGDS_MEN,UGDS_WOMEN,CDR3_DENOM,D_PCTPELL_PCTFLOAN,GRADS,ENDOWBEGIN,ENDOWEND,DOLPROVIDER
0,Alabama A & M University,NaN,NaN,NaN,1,3,1,5,NaN,NaN,...,0.7503,1,0.4076,0.5924,1875.0,5039.0,963.0,NaN,NaN,NaN
1,University of Alabama at Birmingham,NaN,NaN,NaN,1,3,1,5,NaN,NaN,...,0.5127,1,0.3930,0.6070,4135.0,13134.0,8087.0,495337612.0,524675419.0,NaN
2,Amridge University,NaN,NaN,NaN,1,3,2,5,NaN,NaN,...,0.8962,1,0.3191,0.6809,299.0,318.0,404.0,174805.0,174804.0,NaN
3,University of Alabama in Huntsville,NaN,NaN,NaN,1,3,1,5,NaN,NaN,...,0.4192,1,0.5796,0.4204,1447.0,7090.0,2065.0,75974640.0,79465021.0,NaN
4,Alabama State University,NaN,NaN,NaN,1,3,1,5,NaN,NaN,...,0.7845,1,0.3710,0.6290,1874.0,4208.0,510.0,100905446.0,99638681.0,NaN

In [26]:
MERGED2018_19_F.shape

(7032, 189)

In [20]:
MERGED2018_19_F.drop(['CCUGPROF', 'PBI'], inplace = True, axis = 1)

In [22]:
MERGED2018_19_F.head()

,INSTNM,ACCREDCODE,ACCREDAGENCY,HCM2,NUMBRANCH,PREDDEG,CONTROL,REGION,HSI,ADM_RATE,...,PCTFLOAN,ICLEVEL,UGDS_MEN,UGDS_WOMEN,CDR3_DENOM,D_PCTPELL_PCTFLOAN,GRADS,ENDOWBEGIN,ENDOWEND,DOLPROVIDER
0,Alabama A & M University,NaN,NaN,NaN,1,3,1,5,NaN,0.8986,...,0.7503,1,0.4076,0.5924,1875.0,5039.0,963.0,NaN,NaN,NaN
1,University of Alabama at Birmingham,NaN,NaN,NaN,1,3,1,5,NaN,0.9211,...,0.5127,1,0.3930,0.6070,4135.0,13134.0,8087.0,495337612.0,524675419.0,NaN
2,Amridge University,NaN,NaN,NaN,1,3,2,5,NaN,NaN,...,0.8962,1,0.3191,0.6809,299.0,318.0,404.0,174805.0,174804.0,NaN
3,University of Alabama in Huntsville,NaN,NaN,NaN,1,3,1,5,NaN,0.8087,...,0.4192,1,0.5796,0.4204,1447.0,7090.0,2065.0,75974640.0,79465021.0,NaN
4,Alabama State University,NaN,NaN,NaN,1,3,1,5,NaN,0.9774,...,0.7845,1,0.3710,0.6290,1874.0,4208.0,510.0,100905446.0,99638681.0,NaN

In [23]:
MERGED2018_19_F = pd.merge(MERGED2018_19_F, MERGED2019_20_F, on = 'INSTNM', how = 'right')

In [25]:
MERGED2018_19_F[['INSTNM', 'CCUGPROF', 'PBI']]

                                                 INSTNM  CCUGPROF  PBI
0                       Gadsden State Community College       2.0  0.0
1             George C Wallace Community College-Dothan       2.0  0.0
2        George C Wallace State Community College-Selma       2.0  1.0
3     J. F. Drake State Community and Technical College       2.0  0.0
4                    J F Ingram State Technical College      -2.0  0.0
...                                                 ...       ...  ...
7027                                Livingstone College      10.0  0.0
7028                              Holy Names University      11.0  0.0
7029                            Albany State University       7.0  0.0
7030                       Saint Augustine's University      10.0  0.0
7031                            Morgan State University      11.0  0.0

[7032 rows x 3 columns]

In [ ]:
def replace_cols(link):
    dir = 'D:\Canvas\SDM\Project\Filtered Data'
    csvFile = os.path.join(dir, link)
    data = pd.read_csv(csvFile, low_memory=False)
    data = pd.merge(data, )

# Pre-Processing Part 2

In [27]:
data = pd.read_csv(r'D:\Canvas\SDM\Project\CollegeScorecard_Raw_Data_08032021\MERGED2019_20_PP.csv', low_memory=False)

In [28]:
data.shape

(6694, 2392)

In [41]:
MERGED2019_20_F = pd.read_excel(r'D:\Canvas\SDM\Project\CollegeScorecard_Raw_Data_08032021\University_records_filtered.xlsx')
MERGED2019_20_F.shape

(6694, 97)

In [42]:
data_f_cols = MERGED2019_20_F.columns

In [43]:
data_f_cols

Index(['OPEID', 'INSTNM', 'ACCREDCODE', 'ACCREDAGENCY', 'HCM2', 'NUMBRANCH',
       'PREDDEG', 'CONTROL', 'REGION', 'CCUGPROF', 'PBI', 'HSI', 'ADM_RATE',
       'PCIP01', 'PCIP03', 'PCIP04', 'PCIP05', 'PCIP09', 'PCIP10', 'PCIP11',
       'PCIP12', 'PCIP13', 'PCIP14', 'PCIP15', 'PCIP16', 'PCIP19', 'PCIP22',
       'PCIP23', 'PCIP24', 'PCIP25', 'PCIP26', 'PCIP27', 'PCIP29', 'PCIP30',
       'PCIP31', 'PCIP38', 'PCIP39', 'PCIP40', 'PCIP41', 'PCIP42', 'PCIP43',
       'PCIP44', 'PCIP45', 'PCIP46', 'PCIP47', 'PCIP48', 'PCIP49', 'PCIP50',
       'PCIP51', 'PCIP52', 'PCIP54', 'UGDS', 'UGDS_WHITE', 'UGDS_BLACK',
       'UGDS_HISP', 'UGDS_ASIAN', 'CURROPER', 'NPT4_PUB', 'NPT4_PRIV',
       'NPT41_PUB', 'NPT42_PUB', 'NPT43_PUB', 'NPT44_PUB', 'NPT45_PUB',
       'NPT41_PRIV', 'NPT42_PRIV', 'NPT43_PRIV', 'NPT44_PRIV', 'NPT45_PRIV',
       'NUM4_PUB', 'NUM4_PRIV', 'NUM41_PUB', 'NUM42_PUB', 'NUM43_PUB',
       'NUM44_PUB', 'NUM45_PUB', 'NUM41_PRIV', 'NUM42_PRIV', 'NUM43_PRIV',
       'NUM44_PRIV', 'NUM45_PRIV', 'TUITIONFEE_IN', 'TUITIONFEE_OUT',
       'TUITFTE', 'INEXPFTE', 'PCTPELL', 'CDR3', 'PCTFLOAN', 'ICLEVEL',
       'UGDS_MEN', 'UGDS_WOMEN', 'CDR3_DENOM', 'D_PCTPELL_PCTFLOAN', 'GRADS',
       'ENDOWBEGIN', 'ENDOWEND', 'DOLPROVIDER'],
      dtype='object')

In [49]:
def filtered_data(link):
    dir = 'D:\Canvas\SDM\Project\CollegeScorecard_Raw_Data_08032021'
    csvFile = os.path.join(dir, link)
    data = pd.read_csv(csvFile, low_memory=False)
    name = data[data_f_cols]
    return name

In [76]:
MERGED2018_19_F = filtered_data('MERGED2018_19_PP.csv')
MERGED2018_19_F.shape

(6807, 97)

In [77]:
MERGED2018_19_F.drop(['CCUGPROF', 'PBI', 'HSI', 'ACCREDCODE', 'ACCREDAGENCY',
                                                           'HCM2'], inplace = True, axis = 1)

In [78]:
MERGED2018_19_F = pd.join(MERGED2018_19_F, MERGED2019_20_F[['OPEID', 'CCUGPROF', 'PBI', 'HSI', 'ACCREDCODE', 'ACCREDAGENCY',
                                                           'HCM2']], 
                           on = 'OPEID', how = 'right')
MERGED2018_19_F.shape

(6807, 98)

In [74]:
MERGED2018_19_F.head()

,OPEID,INSTNM,NUMBRANCH,PREDDEG,CONTROL,REGION,ADM_RATE,PCIP01,PCIP03,PCIP04,...,ENDOWBEGIN,ENDOWEND,DOLPROVIDER,OPEIDd,CCUGPROF,PBI,HSI,ACCREDCODE,ACCREDAGENCY,HCM2
0,100200,Alabama A & M University,1,3,1,5,0.8986,0.0394,0.0237,0.0039,...,NaN,NaN,NaN,101700.0,2.0,0.0,0.0,SACSCC,Southern Association of Colleges and Schools C...,0.0
1,105200,University of Alabama at Birmingham,1,3,1,5,0.9211,0.0000,0.0000,0.0000,...,495337612.0,524675419.0,NaN,101800.0,2.0,0.0,0.0,SACSCC,Southern Association of Colleges and Schools C...,0.0
2,2503400,Amridge University,1,3,2,5,NaN,0.0000,0.0000,0.0000,...,174805.0,174804.0,NaN,569900.0,2.0,1.0,0.0,SACSCC,Southern Association of Colleges and Schools C...,0.0
3,105500,University of Alabama in Huntsville,1,3,1,5,0.8087,0.0000,0.0000,0.0000,...,75974640.0,79465021.0,NaN,526000.0,2.0,0.0,0.0,SACSCC,Southern Association of Colleges and Schools C...,0.0
4,100500,Alabama State University,1,3,1,5,0.9774,0.0000,0.0000,0.0000,...,100905446.0,99638681.0,NaN,3002500.0,-2.0,0.0,0.0,COE,Council on Occupational Education,0.0

In [56]:
MERGED2018_19_F[['OPEID', 'CCUGPROF', 'PBI', 'HSI', 'ACCREDCODE', 'ACCREDAGENCY',
                                                           'HCM2']].isna().count()

OPEID           6754
CCUGPROF        6754
PBI             6754
HSI             6754
ACCREDCODE      6754
ACCREDAGENCY    6754
HCM2            6754
dtype: int64

In [57]:
MERGED2018_19_F.to_csv('D:\Canvas\SDM\Project\Filtered Data\MERGED2018_19_F.csv')

In [58]:
MERGED2018_19_F['CCUGPROF']

0        2.0
1        2.0
2        2.0
3        2.0
4       -2.0
        ...
6749    10.0
6750    11.0
6751     7.0
6752    10.0
6753    11.0
Name: CCUGPROF, Length: 6754, dtype: float64

In [109]:
#Rishabh's datset
cdr18_19 = pd.read_excel(r'D:\Canvas\SDM\Project\Filtered Data\cdr18_19.xlsx', sheet_name = 'Filtered Data')

In [110]:
cdr18_19.head()

,Unnamed: 0,OPEID,INSTNM,ACCREDCODE,ACCREDAGENCY,HCM2,NUMBRANCH,PREDDEG,CONTROL,REGION,...,UGDS_MEN,UGDS_WOMEN,CDR3_DENOM,D_PCTPELL_PCTFLOAN,GRADS,ENDOWBEGIN,ENDOWEND,CCUGPROF,PBI,HSI
0,0,101700,Gadsden State Community College,SACSCC,Southern Association of Colleges and Schools C...,0,1,2,1,5,...,0.3815,0.6185,NaN,4979.0,NaN,3262729.0,3404746.0,2.0,0.0,0.0
1,1,101800,George C Wallace Community College-Dothan,SACSCC,Southern Association of Colleges and Schools C...,0,1,2,1,5,...,0.3251,0.6749,NaN,4645.0,NaN,139267.0,135099.0,2.0,0.0,0.0
2,2,569900,George C Wallace State Community College-Selma,SACSCC,Southern Association of Colleges and Schools C...,0,1,2,1,5,...,0.3451,0.6549,NaN,1471.0,NaN,NaN,NaN,2.0,1.0,0.0
3,3,526000,J. F. Drake State Community and Technical College,SACSCC,Southern Association of Colleges and Schools C...,0,1,1,1,5,...,0.4528,0.5472,NaN,752.0,NaN,NaN,NaN,2.0,0.0,0.0
4,5,105900,Lawson State Community College,SACSCC,Southern Association of Colleges and Schools C...,0,1,1,1,5,...,0.4018,0.5982,NaN,3248.0,NaN,585325.0,585770.0,2.0,0.0,0.0

In [111]:
data_f_cols

Index(['OPEID', 'INSTNM', 'ACCREDCODE', 'ACCREDAGENCY', 'HCM2', 'NUMBRANCH',
       'PREDDEG', 'CONTROL', 'REGION', 'CCUGPROF', 'PBI', 'HSI', 'ADM_RATE',
       'PCIP01', 'PCIP03', 'PCIP04', 'PCIP05', 'PCIP09', 'PCIP10', 'PCIP11',
       'PCIP12', 'PCIP13', 'PCIP14', 'PCIP15', 'PCIP16', 'PCIP19', 'PCIP22',
       'PCIP23', 'PCIP24', 'PCIP25', 'PCIP26', 'PCIP27', 'PCIP29', 'PCIP30',
       'PCIP31', 'PCIP38', 'PCIP39', 'PCIP40', 'PCIP41', 'PCIP42', 'PCIP43',
       'PCIP44', 'PCIP45', 'PCIP46', 'PCIP47', 'PCIP48', 'PCIP49', 'PCIP50',
       'PCIP51', 'PCIP52', 'PCIP54', 'UGDS', 'UGDS_WHITE', 'UGDS_BLACK',
       'UGDS_HISP', 'UGDS_ASIAN', 'CURROPER', 'NPT4_PUB', 'NPT4_PRIV',
       'NPT41_PUB', 'NPT42_PUB', 'NPT43_PUB', 'NPT44_PUB', 'NPT45_PUB',
       'NPT41_PRIV', 'NPT42_PRIV', 'NPT43_PRIV', 'NPT44_PRIV', 'NPT45_PRIV',
       'NUM4_PUB', 'NUM4_PRIV', 'NUM41_PUB', 'NUM42_PUB', 'NUM43_PUB',
       'NUM44_PUB', 'NUM45_PUB', 'NUM41_PRIV', 'NUM42_PRIV', 'NUM43_PRIV',
       'NUM44_PRIV', 'NUM45_PRIV', 'TUITIONFEE_IN', 'TUITIONFEE_OUT',
       'TUITFTE', 'INEXPFTE', 'PCTPELL', 'CDR3', 'PCTFLOAN', 'ICLEVEL',
       'UGDS_MEN', 'UGDS_WOMEN', 'CDR3_DENOM', 'D_PCTPELL_PCTFLOAN', 'GRADS',
       'ENDOWBEGIN', 'ENDOWEND', 'DOLPROVIDER'],
      dtype='object')

In [112]:
cdr18_19 = cdr18_19.drop(['Unnamed: 0', 'NPT41_PUB', 'NPT42_PUB', 'NPT43_PUB', 'NPT44_PUB', 'NPT45_PUB',
                           'NPT41_PRIV', 'NPT42_PRIV', 'NPT43_PRIV', 'NPT44_PRIV', 'NPT45_PRIV',
                           'TUITIONFEE_IN', 'TUITIONFEE_OUT',
                           'NUM41_PUB', 'NUM42_PUB', 'NUM43_PUB','NUM44_PUB', 'NUM45_PUB', 'NUM41_PRIV', 
                           'NUM42_PRIV', 'NUM43_PRIV', 'NUM44_PRIV', 'NUM45_PRIV', 'ICLEVEL'], axis = 1)

In [113]:
cdr18_19.head()

,OPEID,INSTNM,ACCREDCODE,ACCREDAGENCY,HCM2,NUMBRANCH,PREDDEG,CONTROL,REGION,ADM_RATE,...,UGDS_MEN,UGDS_WOMEN,CDR3_DENOM,D_PCTPELL_PCTFLOAN,GRADS,ENDOWBEGIN,ENDOWEND,CCUGPROF,PBI,HSI
0,101700,Gadsden State Community College,SACSCC,Southern Association of Colleges and Schools C...,0,1,2,1,5,NaN,...,0.3815,0.6185,NaN,4979.0,NaN,3262729.0,3404746.0,2.0,0.0,0.0
1,101800,George C Wallace Community College-Dothan,SACSCC,Southern Association of Colleges and Schools C...,0,1,2,1,5,NaN,...,0.3251,0.6749,NaN,4645.0,NaN,139267.0,135099.0,2.0,0.0,0.0
2,569900,George C Wallace State Community College-Selma,SACSCC,Southern Association of Colleges and Schools C...,0,1,2,1,5,NaN,...,0.3451,0.6549,NaN,1471.0,NaN,NaN,NaN,2.0,1.0,0.0
3,526000,J. F. Drake State Community and Technical College,SACSCC,Southern Association of Colleges and Schools C...,0,1,1,1,5,NaN,...,0.4528,0.5472,NaN,752.0,NaN,NaN,NaN,2.0,0.0,0.0
4,105900,Lawson State Community College,SACSCC,Southern Association of Colleges and Schools C...,0,1,1,1,5,NaN,...,0.4018,0.5982,NaN,3248.0,NaN,585325.0,585770.0,2.0,0.0,0.0

In [114]:
cdr18_19['UGDS_WHITE'] = cdr18_19['UGDS_WHITE']*cdr18_19['UGDS']
cdr18_19['UGDS_BLACK'] = cdr18_19['UGDS_BLACK']*cdr18_19['UGDS']
cdr18_19['UGDS_HISP'] = cdr18_19['UGDS_HISP']*cdr18_19['UGDS']
cdr18_19['UGDS_ASIAN'] = cdr18_19['UGDS_ASIAN']*cdr18_19['UGDS']

In [115]:
cdr18_19[['UGDS_WHITE', 'UGDS_BLACK', 'UGDS_HISP', 'UGDS_ASIAN', 'UGDS']].round(0)

      UGDS_WHITE  UGDS_BLACK  UGDS_HISP  UGDS_ASIAN    UGDS
0         2926.0       790.0      161.0        26.0  4147.0
1         2318.0      1145.0      135.0        42.0  3746.0
2          228.0       828.0        7.0         7.0  1104.0
3          234.0       365.0       16.0         6.0   678.0
4          441.0      2364.0       62.0        21.0  2959.0
...          ...         ...        ...         ...     ...
2829        18.0       949.0        0.0         2.0  1148.0
2830        98.0       113.0      267.0        62.0   626.0
2831       781.0      4096.0      256.0        23.0  5545.0
2832        12.0       701.0        7.0         0.0   767.0
2833       112.0      5111.0      215.0        48.0  6404.0

[2834 rows x 5 columns]

In [116]:
cdr18_19[['UGDS_WHITE', 'UGDS_BLACK', 'UGDS_HISP', 'UGDS_ASIAN', 'UGDS']].isna().sum()

UGDS_WHITE    449
UGDS_BLACK    449
UGDS_HISP     449
UGDS_ASIAN    449
UGDS          449
dtype: int64

In [117]:
cdr18_19['CDR3'].isna().sum()

120

In [121]:
cdr18_19_cdr3_nn = cdr18_19[cdr18_19['CDR3'].notna()]

In [122]:
cdr18_19_cdr3_nn.shape

(2714, 37)

In [124]:
cdr18_19_cdr3_nn.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2714 entries, 11 to 2833
Data columns (total 37 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   OPEID               2714 non-null   int64
 1   INSTNM              2714 non-null   object
 2   ACCREDCODE          2714 non-null   object
 3   ACCREDAGENCY        2714 non-null   object
 4   HCM2                2714 non-null   int64
 5   NUMBRANCH           2714 non-null   int64
 6   PREDDEG             2714 non-null   int64
 7   CONTROL             2714 non-null   int64
 8   REGION              2714 non-null   int64
 9   ADM_RATE            1307 non-null   float64
 10  top_course_1        2714 non-null   object
 11  top_course_2        2714 non-null   object
 12  top_course_3        2714 non-null   object
 13  UGDS                2277 non-null   float64
 14  UGDS_WHITE          2277 non-null   float64
 15  UGDS_BLACK          2277 non-null   float64
 16  UGDS_HISP           2277 non-null   float64
 17  UGDS_ASIAN          2277 non-null   float64
 18  NPT4_PUB            918 non-null    float64
 19  NPT4_PRIV           1192 non-null   float64
 20  NUM4_PUB            918 non-null    float64
 21  NUM4_PRIV           1192 non-null   float64
 22  TUITFTE             2443 non-null   float64
 23  INEXPFTE            2443 non-null   float64
 24  PCTPELL             2268 non-null   float64
 25  CDR3                2714 non-null   float64
 26  PCTFLOAN            2268 non-null   float64
 27  UGDS_MEN            2277 non-null   float64
 28  UGDS_WOMEN          2277 non-null   float64
 29  CDR3_DENOM          2714 non-null   float64
 30  D_PCTPELL_PCTFLOAN  2268 non-null   float64
 31  GRADS               1442 non-null   float64
 32  ENDOWBEGIN          1785 non-null   float64
 33  ENDOWEND            1785 non-null   float64
 34  CCUGPROF            2428 non-null   float64
 35  PBI                 2428 non-null   float64
 36  HSI                 2428 non-null   float64
dtypes: float64(25), int64(6), object(6)
memory usage: 805.7+ KB

# Pre-Processing 3

In [215]:
cdr_1819 = pd.read_excel(r'C:\Users\uday_\Downloads\cdr18_19.xlsx')
cdr_1819.head()

,Unnamed: 0,OPEID,INSTNM,ACCREDCODE,ACCREDAGENCY,HCM2,NUMBRANCH,PREDDEG,CONTROL,REGION,...,UGDS_MEN,UGDS_WOMEN,CDR3_DENOM,D_PCTPELL_PCTFLOAN,GRADS,ENDOWBEGIN,ENDOWEND,CCUGPROF,PBI,HSI
0,0,101700,Gadsden State Community College,SACSCC,Southern Association of Colleges and Schools C...,0,1,2,1,5,...,0.3815,0.6185,NaN,4979.0,NaN,3262729.0,3404746.0,2.0,0.0,0.0
1,1,101800,George C Wallace Community College-Dothan,SACSCC,Southern Association of Colleges and Schools C...,0,1,2,1,5,...,0.3251,0.6749,NaN,4645.0,NaN,139267.0,135099.0,2.0,0.0,0.0
2,2,569900,George C Wallace State Community College-Selma,SACSCC,Southern Association of Colleges and Schools C...,0,1,2,1,5,...,0.3451,0.6549,NaN,1471.0,NaN,NaN,NaN,2.0,1.0,0.0
3,3,526000,J. F. Drake State Community and Technical College,SACSCC,Southern Association of Colleges and Schools C...,0,1,1,1,5,...,0.4528,0.5472,NaN,752.0,NaN,NaN,NaN,2.0,0.0,0.0
4,4,3002500,J F Ingram State Technical College,COE,Council on Occupational Education,0,1,1,1,5,...,0.7359,0.2641,NaN,449.0,NaN,NaN,NaN,-2.0,0.0,0.0

In [191]:
cdr_1819 = cdr_1819[cdr_1819['INSTNM'].str.contains("University")]
cdr_1819 = cdr_1819[~cdr_1819['INSTNM'].str.contains("Community")]

In [192]:
remove = ["Barber", "Nursing", "Beauty", "Cosmetology", "Hair"]

In [193]:
cdr_1819 = cdr_1819[~cdr_1819['INSTNM'].str.contains("Barber")]
cdr_1819 = cdr_1819[~cdr_1819['INSTNM'].str.contains("Nursing")]
cdr_1819 = cdr_1819[~cdr_1819['INSTNM'].str.contains("Beauty")]
cdr_1819 = cdr_1819[~cdr_1819['INSTNM'].str.contains("Cosmetology")]
cdr_1819 = cdr_1819[~cdr_1819['INSTNM'].str.contains("Hair")]

In [194]:
cdr_1819['INSTNM']

9                                        Selma University
17                    Arkansas State University Mid-South
37      University of Redlands Graduate School of Theo...
87                      Robert Morris University Illinois
139                           Navajo Technical University
                              ...
6991                            Virginia Union University
6993                                Holy Names University
6994                              Albany State University
6995                         Saint Augustine's University
6996                              Morgan State University
Name: INSTNM, Length: 1997, dtype: object

In [195]:
cdr_1819.shape

(1997, 61)

In [196]:
cdr_1819.head()

,Unnamed: 0,OPEID,INSTNM,ACCREDCODE,ACCREDAGENCY,HCM2,NUMBRANCH,PREDDEG,CONTROL,REGION,...,UGDS_MEN,UGDS_WOMEN,CDR3_DENOM,D_PCTPELL_PCTFLOAN,GRADS,ENDOWBEGIN,ENDOWEND,CCUGPROF,PBI,HSI
9,9,4067300,Selma University,NaN,NaN,0,1,3,2,5,...,0.4342,0.5658,213.0,311.0,13.0,249611.0,55648.0,7.0,0.0,0.0
17,17,2348200,Arkansas State University Mid-South,NCACHE,Higher Learning Commission,0,1,1,1,5,...,0.3135,0.6865,NaN,1561.0,NaN,2598279.0,2672717.0,1.0,1.0,0.0
37,39,127900,University of Redlands Graduate School of Theo...,WASCSR,Western Association of Schools and Colleges Se...,0,1,4,2,8,...,NaN,NaN,47.0,NaN,101.0,48080435.0,49227443.0,0.0,0.0,0.0
87,89,174600,Robert Morris University Illinois,NaN,NaN,0,1,3,2,3,...,0.5511,0.4489,1529.0,2003.0,235.0,17944871.0,18445519.0,13.0,0.0,1.0
139,142,2357600,Navajo Technical University,NCACHE,Higher Learning Commission,0,1,1,1,6,...,0.4019,0.5981,NaN,1765.0,5.0,4588736.0,6347722.0,7.0,0.0,0.0

In [197]:
cdr_1819.loc[cdr_1819['INSTNM'] == 'Arizona State University-Downtown Phoenix']

,Unnamed: 0,OPEID,INSTNM,ACCREDCODE,ACCREDAGENCY,HCM2,NUMBRANCH,PREDDEG,CONTROL,REGION,...,UGDS_MEN,UGDS_WOMEN,CDR3_DENOM,D_PCTPELL_PCTFLOAN,GRADS,ENDOWBEGIN,ENDOWEND,CCUGPROF,PBI,HSI
6188,5943,108103,Arizona State University-Downtown Phoenix,NCACHE,Higher Learning Commission,0,11,3,1,6,...,0.3198,0.6802,19181.0,8902.0,2882.0,73203680.0,79262150.0,13.0,0.0,1.0

In [198]:
cdr_1819.head()

,Unnamed: 0,OPEID,INSTNM,ACCREDCODE,ACCREDAGENCY,HCM2,NUMBRANCH,PREDDEG,CONTROL,REGION,...,UGDS_MEN,UGDS_WOMEN,CDR3_DENOM,D_PCTPELL_PCTFLOAN,GRADS,ENDOWBEGIN,ENDOWEND,CCUGPROF,PBI,HSI
9,9,4067300,Selma University,NaN,NaN,0,1,3,2,5,...,0.4342,0.5658,213.0,311.0,13.0,249611.0,55648.0,7.0,0.0,0.0
17,17,2348200,Arkansas State University Mid-South,NCACHE,Higher Learning Commission,0,1,1,1,5,...,0.3135,0.6865,NaN,1561.0,NaN,2598279.0,2672717.0,1.0,1.0,0.0
37,39,127900,University of Redlands Graduate School of Theo...,WASCSR,Western Association of Schools and Colleges Se...,0,1,4,2,8,...,NaN,NaN,47.0,NaN,101.0,48080435.0,49227443.0,0.0,0.0,0.0
87,89,174600,Robert Morris University Illinois,NaN,NaN,0,1,3,2,3,...,0.5511,0.4489,1529.0,2003.0,235.0,17944871.0,18445519.0,13.0,0.0,1.0
139,142,2357600,Navajo Technical University,NCACHE,Higher Learning Commission,0,1,1,1,6,...,0.4019,0.5981,NaN,1765.0,5.0,4588736.0,6347722.0,7.0,0.0,0.0

In [199]:
cdr_1819['UGDS_WHITE'] = cdr_1819['UGDS_WHITE']*cdr_1819['UGDS']
cdr_1819['UGDS_BLACK'] = cdr_1819['UGDS_BLACK']*cdr_1819['UGDS']
cdr_1819['UGDS_HISP'] = cdr_1819['UGDS_HISP']*cdr_1819['UGDS']
cdr_1819['UGDS_ASIAN'] = cdr_1819['UGDS_ASIAN']*cdr_1819['UGDS']
cdr_1819[['UGDS_WHITE', 'UGDS_BLACK', 'UGDS_HISP', 'UGDS_ASIAN', 'UGDS']].round(0)

      UGDS_WHITE  UGDS_BLACK  UGDS_HISP  UGDS_ASIAN    UGDS
9            6.0       295.0        3.0         0.0   304.0
17         219.0       368.0       35.0         6.0   657.0
37           NaN         NaN        NaN         NaN     NaN
87         508.0       454.0      532.0        53.0  1653.0
139          2.0         6.0        8.0         4.0  1172.0
...          ...         ...        ...         ...     ...
6991        10.0      1059.0       17.0         3.0  1132.0
6993        98.0       113.0      267.0        62.0   626.0
6994       781.0      4096.0      256.0        23.0  5545.0
6995        12.0       701.0        7.0         0.0   767.0
6996       112.0      5111.0      215.0        48.0  6404.0

[1997 rows x 5 columns]

In [200]:
cdr_1819.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1997 entries, 9 to 6996
Data columns (total 61 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          1997 non-null   int64
 1   OPEID               1997 non-null   int64
 2   INSTNM              1997 non-null   object
 3   ACCREDCODE          1941 non-null   object
 4   ACCREDAGENCY        1941 non-null   object
 5   HCM2                1997 non-null   int64
 6   NUMBRANCH           1997 non-null   int64
 7   PREDDEG             1997 non-null   int64
 8   CONTROL             1997 non-null   int64
 9   REGION              1997 non-null   int64
 10  ADM_RATE            1300 non-null   float64
 11  top_course_1        1997 non-null   object
 12  top_course_2        1997 non-null   object
 13  top_course_3        1997 non-null   object
 14  UGDS                1700 non-null   float64
 15  UGDS_WHITE          1700 non-null   float64
 16  UGDS_BLACK          1700 non-null   float64
 17  UGDS_HISP           1700 non-null   float64
 18  UGDS_ASIAN          1700 non-null   float64
 19  NPT4_PUB            642 non-null    float64
 20  NPT4_PRIV           899 non-null    float64
 21  NPT41_PUB           642 non-null    float64
 22  NPT42_PUB           640 non-null    float64
 23  NPT43_PUB           641 non-null    float64
 24  NPT44_PUB           630 non-null    float64
 25  NPT45_PUB           617 non-null    float64
 26  NPT41_PRIV          868 non-null    float64
 27  NPT42_PRIV          808 non-null    float64
 28  NPT43_PRIV          793 non-null    float64
 29  NPT44_PRIV          725 non-null    float64
 30  NPT45_PRIV          701 non-null    float64
 31  NUM4_PUB            642 non-null    float64
 32  NUM4_PRIV           899 non-null    float64
 33  NUM41_PUB           642 non-null    float64
 34  NUM42_PUB           642 non-null    float64
 35  NUM43_PUB           642 non-null    float64
 36  NUM44_PUB           642 non-null    float64
 37  NUM45_PUB           642 non-null    float64
 38  NUM41_PRIV          899 non-null    float64
 39  NUM42_PRIV          899 non-null    float64
 40  NUM43_PRIV          899 non-null    float64
 41  NUM44_PRIV          899 non-null    float64
 42  NUM45_PRIV          899 non-null    float64
 43  TUITIONFEE_IN       1777 non-null   float64
 44  TUITIONFEE_OUT      1654 non-null   float64
 45  TUITFTE             1770 non-null   float64
 46  INEXPFTE            1770 non-null   float64
 47  PCTPELL             1694 non-null   float64
 48  CDR3                1964 non-null   float64
 49  PCTFLOAN            1694 non-null   float64
 50  ICLEVEL             1997 non-null   int64
 51  UGDS_MEN            1700 non-null   float64
 52  UGDS_WOMEN          1700 non-null   float64
 53  CDR3_DENOM          1964 non-null   float64
 54  D_PCTPELL_PCTFLOAN  1694 non-null   float64
 55  GRADS               1537 non-null   float64
 56  ENDOWBEGIN          1407 non-null   float64
 57  ENDOWEND            1407 non-null   float64
 58  CCUGPROF            1775 non-null   float64
 59  PBI                 1775 non-null   float64
 60  HSI                 1775 non-null   float64
dtypes: float64(47), int64(8), object(6)
memory usage: 967.3+ KB

In [201]:
cdr_1819 = cdr_1819.drop(['Unnamed: 0', 'NPT41_PUB', 'NPT42_PUB', 'NPT43_PUB', 'NPT44_PUB', 'NPT45_PUB',
                           'NPT41_PRIV', 'NPT42_PRIV', 'NPT43_PRIV', 'NPT44_PRIV', 'NPT45_PRIV',
                           'TUITIONFEE_IN', 'TUITIONFEE_OUT',
                           'NUM41_PUB', 'NUM42_PUB', 'NUM43_PUB','NUM44_PUB', 'NUM45_PUB', 'NUM41_PRIV', 
                           'NUM42_PRIV', 'NUM43_PRIV', 'NUM44_PRIV', 'NUM45_PRIV', 'ICLEVEL'], axis = 1)

In [202]:
cdr_1819.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1997 entries, 9 to 6996
Data columns (total 37 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   OPEID               1997 non-null   int64
 1   INSTNM              1997 non-null   object
 2   ACCREDCODE          1941 non-null   object
 3   ACCREDAGENCY        1941 non-null   object
 4   HCM2                1997 non-null   int64
 5   NUMBRANCH           1997 non-null   int64
 6   PREDDEG             1997 non-null   int64
 7   CONTROL             1997 non-null   int64
 8   REGION              1997 non-null   int64
 9   ADM_RATE            1300 non-null   float64
 10  top_course_1        1997 non-null   object
 11  top_course_2        1997 non-null   object
 12  top_course_3        1997 non-null   object
 13  UGDS                1700 non-null   float64
 14  UGDS_WHITE          1700 non-null   float64
 15  UGDS_BLACK          1700 non-null   float64
 16  UGDS_HISP           1700 non-null   float64
 17  UGDS_ASIAN          1700 non-null   float64
 18  NPT4_PUB            642 non-null    float64
 19  NPT4_PRIV           899 non-null    float64
 20  NUM4_PUB            642 non-null    float64
 21  NUM4_PRIV           899 non-null    float64
 22  TUITFTE             1770 non-null   float64
 23  INEXPFTE            1770 non-null   float64
 24  PCTPELL             1694 non-null   float64
 25  CDR3                1964 non-null   float64
 26  PCTFLOAN            1694 non-null   float64
 27  UGDS_MEN            1700 non-null   float64
 28  UGDS_WOMEN          1700 non-null   float64
 29  CDR3_DENOM          1964 non-null   float64
 30  D_PCTPELL_PCTFLOAN  1694 non-null   float64
 31  GRADS               1537 non-null   float64
 32  ENDOWBEGIN          1407 non-null   float64
 33  ENDOWEND            1407 non-null   float64
 34  CCUGPROF            1775 non-null   float64
 35  PBI                 1775 non-null   float64
 36  HSI                 1775 non-null   float64
dtypes: float64(25), int64(6), object(6)
memory usage: 592.9+ KB

In [203]:
cdr_1819['UGDS_MEN'] = cdr_1819['UGDS_MEN']*cdr_1819['UGDS']
cdr_1819['UGDS_WOMEN'] = cdr_1819['UGDS_WOMEN']*cdr_1819['UGDS']

In [204]:
cdr_1819['UGDS_WOMEN']

9        172.0032
17       451.0305
37            NaN
87       742.0317
139      700.9732
          ...
6991     613.9968
6993     409.0284
6994    4026.7790
6995     378.9747
6996    3495.3032
Name: UGDS_WOMEN, Length: 1997, dtype: float64

In [216]:
cdr_1819['NPT4_PUB'].fillna(0)

0        4362.0
1        1277.0
2        7114.0
3        4825.0
4        3345.0
         ...
6992        0.0
6993        0.0
6994    13066.0
6995        0.0
6996    16991.0
Name: NPT4_PUB, Length: 6997, dtype: float64

In [217]:
cdr_1819['NPT4_PRIV'].fillna(0)

0           0.0
1           0.0
2           0.0
3           0.0
4           0.0
         ...
6992    17222.0
6993    23175.0
6994        0.0
6995    25403.0
6996        0.0
Name: NPT4_PRIV, Length: 6997, dtype: float64

In [218]:
cdr_1819['AVG_TUTION'] = cdr_1819['NPT4_PUB'] + cdr_1819['NPT4_PRIV']

In [219]:
cdr_1819['AVG_TUTION']

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
        ..
6992   NaN
6993   NaN
6994   NaN
6995   NaN
6996   NaN
Name: AVG_TUTION, Length: 6997, dtype: float64

In [186]:
#cdr_1819.drop(['NPT4_PUB', 'NPT4_PUB'], axis = 1)

,OPEID,INSTNM,ACCREDCODE,ACCREDAGENCY,HCM2,NUMBRANCH,PREDDEG,CONTROL,REGION,ADM_RATE,...,UGDS_WOMEN,CDR3_DENOM,D_PCTPELL_PCTFLOAN,GRADS,ENDOWBEGIN,ENDOWEND,CCUGPROF,PBI,HSI,AVG_TUTION
9,4067300,Selma University,NaN,NaN,0,1,3,2,5,NaN,...,172.0032,213.0,311.0,13.0,249611.0,55648.0,7.0,0.0,0.0,NaN
17,2348200,Arkansas State University Mid-South,NCACHE,Higher Learning Commission,0,1,1,1,5,NaN,...,451.0305,NaN,1561.0,NaN,2598279.0,2672717.0,1.0,1.0,0.0,NaN
37,127900,University of Redlands Graduate School of Theo...,WASCSR,Western Association of Schools and Colleges Se...,0,1,4,2,8,NaN,...,NaN,47.0,NaN,101.0,48080435.0,49227443.0,0.0,0.0,0.0,NaN
87,174600,Robert Morris University Illinois,NaN,NaN,0,1,3,2,3,0.6340,...,742.0317,1529.0,2003.0,235.0,17944871.0,18445519.0,13.0,0.0,1.0,NaN
139,2357600,Navajo Technical University,NCACHE,Higher Learning Commission,0,1,1,1,6,NaN,...,700.9732,NaN,1765.0,5.0,4588736.0,6347722.0,7.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6991,376600,Virginia Union University,SACSCC,Southern Association of Colleges and Schools C...,0,1,3,2,5,0.4375,...,613.9968,596.0,1295.0,359.0,32305068.0,33751180.0,10.0,0.0,0.0,NaN
6993,118300,Holy Names University,WASCSR,Western Association of Schools and Colleges Se...,0,1,3,2,8,0.7004,...,409.0284,465.0,591.0,328.0,50945666.0,51917540.0,11.0,0.0,1.0,NaN
6994,154400,Albany State University,SACSCC,Southern Association of Colleges and Schools C...,0,1,2,1,5,0.9050,...,4026.7790,3866.0,6262.0,370.0,2018819.0,2342135.0,7.0,0.0,0.0,NaN
6995,296800,Saint Augustine's University,SACSCC,Southern Association of Colleges and Schools C...,0,1,3,2,5,0.6341,...,378.9747,466.0,974.0,NaN,15731770.0,18384953.0,10.0,0.0,0.0,NaN
6996,208300,Morgan State University,MSACHE,Middle States Commission on Higher Education,0,1,3,1,2,0.6625,...,3495.3032,2188.0,6440.0,1293.0,32890020.0,36393010.0,11.0,0.0,0.0,NaN